* {
    * {
        box-sizing: border-box;
        margin: 0; 
        padding: 0; 
        font-family: 'Playfair, sans-serif'; 
     
    }
}

/*Coming soon */



.amax-bg  {
    background-image:url(../img/green\ background.jpeg); 
    height: 100vh; 
    background-position: center; 
    background-size: cover; 
    overflow-x: hidden;
}





.center {
    position:relative; 
    top: 50%; 
    left: 50%;
    font-size: 30px; 
    transform: translate(-50%, -50%);
    text-align: center;
}

.center h1 {
    font-size: 40px; 
}
.center h5 {
   
    font-size: 25px; 
}

.center img {
    width: 8%; 
    margin: 50px 0 0 0; 
}

.countdown-container {
    background-color: gray;
    max-width: 600px; 
    border: 1px solid black; 
    margin-top: 10px; 
    margin-left: auto; 
    margin-right: auto;  
    padding: 20px;  
}

.time-container {
    display: inline-block;
    margin: 20px; 
    padding: 9px; 
    border: 3px solid blue;
    border-radius: 25px; 
    
    
}


.time-container span {
    font-size: 25px; 
    text-align: center;
}

/*mobile for coming soon page*/ 
@media only screen and (min-width: 320px ) and (max-width: 480px) { 

    .center h1 {
        display: block;
        font-size: 25px; 
    }

    .center h5 {
        font-size: 15px; 
    }

    .center img {
       width: 20%; 
       height: 20%; 
    }


    .countdown-container {
        max-width: 600px; 
        width: 100%; 
        margin-left: auto; 
        margin-right: auto; 
        padding: 5px; 
       
    }
    
    .time-container {
        display: inline-block;
        margin-top: 10px; 
        margin-left: auto; 
        margin-right: auto; 
        padding: 10px; 
    }
    
    .time-container span {
        width: 100%; 
        font-size: 15px; 
     
    }
  
 }


/*video css */ 
.play-video, .go-to-website {
    padding: 20px; 
    margin: 20px; 
    font-size: 25px; 
    
    background-color: green; 
    cursor:pointer; 
}

.play-video:hover, .go-to-website:hover {
    background-color: lightgreen;
}

#video-pop {
    
    width: 100%; 
    max-width: 480px; 
 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
}


/*mobile for video */ 
@media only screen and (max-width: 480px) { 

    #video-pop {
     
        width: 100%; 
        margin-left: auto;
        margin-right: auto; 
        text-align: center;
    }

    iframe {
        max-width: 315px; 
        width: 100%; 
        margin-left: auto; 
        margin-right: auto; 
    }

   
 }