.cross-ref-page {
    font-size: 20px;
    margin-left: 30px; 
    margin-right: 30px; 
    
}

.cross-reference-title {
    text-align: center;
    font-weight: bold; 
    font-size: 30px;
    margin: 20px; 
}